@media only screen and (min-width: 34.5em) {

    /*  */
    /* Navigation */
    /*  */
    nav {
        max-width: 100%;
        margin: 0 auto;
        border-bottom: 2px solid #f7f9fa;
    }

    #navigation {
        grid-template-columns: repeat(5, auto);
        font-size: 1.2em;
        max-width: 640px;
        margin: 0 auto;
        padding: 0px 20px;
    }

    #navigation li:first-child {
        display: none;
    }

    #navigation li {
        display: block;
    }

    #navigation a {
        text-align: center;
        display: block;
        padding-top: .8em;
        padding-bottom: .8em;
        text-decoration: none;
        font-weight: 700;
    }

    /*  */
    /* Subpages navigation */
    /*  */

    #subpages {
        grid-template-columns: repeat(2, auto);
        font-size: .8em;
        max-width: 640px;
        margin: 0 auto;
        padding: 0px 20px;
        margin-top: -2px;
    }

    #subpages li:first-child {
        display: none;
    }

    #subpages li {
        display: block;
    }

    #subpages a {
        text-align: center;
        display: block;
        padding-top: .8em;
        padding-bottom: .8em;
        text-decoration: none;
        font-weight: 700;
    }

    /*  */
    /* Body & Main */
    /*  */
    main {
        max-width: 640px;
        margin: 0 auto;
        padding: .5rem 20px;
    }

    /*  */
    /* Forms */
    /*  */
    .form .row {
        display: grid;
        grid-template-columns: 250px 1fr;
        padding-bottom: 1em;
        margin-top: 0;
        padding-top: 0;
    }

    .form input[type=submit] {
        background-color: #24ACF0;
        color: #F7F9FA;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        float: right;
        width: max-content;
        justify-self: right;
        grid-column: 2/3;
    }

    /*  */
    /* Home page */
    /*  */

    #index img#kona {
        width: 100%;
        display: block;
        padding: 0;
        border-radius: 5px 5px 0px 0px;
    }

    #index h2 {
        font-size: 1.6em;
    }

    #grid-wrapper-info {
        display: flex;
        justify-content: space-between;
        padding: .5em 2em;
        padding-top: 1em;
    }

    #grid-wrapper-info h4 {
        margin-top: 0;
    }

    .item {
        padding: .5em 2em;
    }

    #temple-stuff {
        width: 70%;
        background-color: #C2C9D4;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        border-radius: 5px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.479);
    }

    /*  */
    /* Services Page */
    /*  */

    #services #wrapper div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #services #wrapper div:nth-child(odd) {
        flex-direction: row-reverse;
    }

    div {
        padding: 1em 0em;
    }

    #services #wrapper img {
        max-width: 25em;
        padding: 0em 1em;
    }

    /*  */
    /* Temples */
    /*  */

    #temples section div {
        display: grid;
        grid-template-columns: 40% 60%;
    }

    #temples .left {
        grid-column: 1/2;
    }

    #temples .left {
        margin-bottom: 0;
    }

    #temples .right {
        grid-column: 2/3;
        grid-row: 1/6;
        justify-self: center;
        align-self: center;
        width: 100%;
    }

    /*  */
    /* Banner */
    /*  */
    .banner a #ad {
        max-width: 640px;
        justify-self: center;
        /* margin: 0 20px; */
    }

    /*  */
    /* Fonts and Sizes */
    /*  */

    * {
        font-size: large;
    }
}