/* https://coolors.co/302b42-8d99ae-c2c9d4-f7f9fa-24acf0-0472d9 */

/*  */
/* Navigation */
/*  */
nav {
    margin: -16px auto;
    background-color: #c2c9d493;
    font-family: 'Encode Sans SC', sans-serif;
}

#navigation {
    list-style: none;
    padding: 0;
    grid-template-columns: auto;
    display: grid;
    font-size: 1em;
    padding: 0px 10px;
}

#navigation li:first-child {
    display: block;
}

#navigation li {
    display: none;
}

#navigation a {
    display: block;
    padding: 1em;
    text-align: left;
    text-decoration: none;
    color: #302b42;
    font-weight: 700;
    /* border-bottom: 2px solid #302b42; */
}

#navigation a:hover,
#navigation a.active:hover {
    color: #24acf0;
    border-bottom: 2px solid #24acf0;
}

#navigation a.active {
    color: #0472d9;
    border-bottom: 2px solid #0472d9;
}

#navigation.responsive li {
    display: block;
    color: #302b42;
    border-bottom: 2px solid #302b42;
}

/*  */
/* Subpages navigation */
/*  */

nav:nth-child(2) {
    background-color: #c2c9d42f;
}

#subpages {
    list-style: none;
    padding: 0;
    grid-template-columns: auto;
    display: grid;
    font-size: .8em;
    padding: 0px 10px;
}

#subpages li:first-child {
    display: block;
}

#subpages li {
    display: none;
}

#subpages a {
    display: block;
    padding: 1em;
    text-align: left;
    text-decoration: none;
    color: #302b42;
    font-weight: 700;
    border-bottom: 2px solid #c2c9d400;
    /* border-bottom: 2px solid #302b42; */
}

#subpages a:hover,
#subpages a.active:hover {
    color: #24acf0;
    border-bottom: 2px solid #24acf0;
}

#subpages a.active {
    color: #0472d9;
    border-bottom: 2px solid #0472d9;
}

#subpages.responsive li {
    display: block;
    color: #302b42;
    border-bottom: 2px solid #302b42;
}

/*  */
/* HTML & Body & Main */
/*  */

hr {
    display: block;
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 2px;
    border-color: #302B42;
    background-color: #302B42;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
}

body {
    background-color: white;
    color: #302b42;
    font-family: 'Libre Franklin', sans-serif;
}

main {
    padding: .5rem 10px;
    min-height: 79.5vh;
}

/*  */
/* AD section */
/*  */
#ad {
    background-color: #0472d9;
    color: #f7f9fa;
    padding: .5rem;
    border-radius: 20px 0px;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.411);
}

/*  */
/* Footer */
/*  */
footer {
    background-color: #c2c9d493;
    color: #302b42;
    text-align: center;
    font-size: .9em;
    margin-bottom: 0;
}

footer p {
    padding: 1em 0em;
}


/*  */
/* Forms */
/*  */
.form #ad {
    margin-bottom: 2em;
}

.form * {
    box-sizing: border-box;
}

.form input[type=text],
.form input[type=email],
.form input[type=tel],
.form input[type=number],
.form input[type=date],
select,
textarea {
    color: #302B42;
    width: 100%;
    padding: 12px;
    border: 1px solid #F7F9FA;
    border-radius: 4px;
    resize: vertical;
}

.form label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    font-weight: bold;
}

.form input[type=submit] {
    background-color: #24ACF0;
    color: #F7F9FA;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

.form input[type=submit]:hover {
    background-color: #0472D9;
}

.form .container {
    border-radius: 5px;
    background-color: #C2C9D4;
    padding: 20px;
}

/* Clear floats after the columns */
.form .row:after {
    content: "";
    display: table;
    clear: both;
}

.form .row {
    display: grid;
    grid-template-columns: 100%;
    padding-bottom: 1.2em;
}

.form .row:last-child {
    padding-bottom: 0em;
}

.form #radio label {
    margin: .2em 0em;
    padding: 0;
    font-weight: normal;
}

/*  */
/* Home page */
/*  */

#index img#kona {
    width: 100%;
    padding: 1em 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*  */
/* Temple */
/*  */
#temples h1:first-of-type {
    margin-top: .2em;
}

#temples h1 {
    background-color: #0472d9;
    color: #f7f9fa;
    padding: 1rem;
    border-radius: 20px 0px;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.411);
    margin-bottom: 0;
}

#temples p {
    margin-bottom: 0.5em;
}

#temples .card {
    background-color: #c2c9d42a;
    padding: 1em;
    margin-bottom: 3em;
    border-radius: 15px;
    border: 2px solid #c2c9d4ad;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.438);
}

#temples .card:last-of-type {
    margin-bottom: 0em;
}

#temples .card img {
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.438);
    width: 100%;

}

/*  */
/* Fonts */
/*  */

h1, h2, h3, h4, h5, h6, nav {
    font-family: 'Encode Sans SC', sans-serif;
    font-weight: 800;
    letter-spacing: .05rem;
}