body {
    background-color: #FFF8F2;
}

main {
    margin: 0 auto;
    max-width: 700px;
    padding-right: .5em;
    padding-left: .5em;
    text-align: center;
}

img {
    padding: 5px;
    margin: 0 auto;
    display: block;
}

h1 {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 3em;
    line-height: 1em;
    color: #003034;
    font-weight: bolder;
}

article img[data-src] {
    filter: blur(0.2em);
  }
  
  article img {
    filter: blur(0em);
    transition: filter 0.5s;
  }