@media only screen and (min-width: 50.5em) {
    /*  */
    /* Navigation */
    /*  */

    #navigation {
        max-width: 780px;
    }

    /*  */
    /* Body & Main */
    /*  */

    main {
        max-width: 780px;
        margin: 0 auto;
    }
}