/* https://coolors.co/302b42-8d99ae-f7f9fa-24acf0-0472d9 */

/*  */
/* Navigation */
/*  */
nav {
    margin: -16px auto;
    background-color: #302b42;
    font-family: 'Noto Sans JP', sans-serif;
}

#navigation {
    list-style: none;
    padding: 0;
    grid-template-columns: auto;
    display: grid;
    font-size: 1em;
}

#navigation li:first-child {
    display: block;
}

#navigation li {
    display: none;
}

#navigation a {
    display: block;
    padding: 1em;
    text-align: left;
    text-decoration: none;
    color: #f7f9fa;
    font-weight: 700;
    border-bottom: 2px solid #302b42;
}

#navigation a:hover,
#navigation a.active:hover {
    color: #24acf0;
    background-color: #302b42;
    border-bottom: 2px solid #24acf0;
}

#navigation a.active {
    background-color: #302b42;
    color: #0472d9;
    border-bottom: 2px solid #0472d9;
}

#navigation.responsive li {
    display: block;
    color: #f7f9fa;
    border-bottom: 2px solid #302b42;
}

/*  */
/* Body */
/*  */

body {
    background-color: #f7f9fa;
    color: #302b42;
    font-family: 'Libre Franklin', sans-serif;
}

main {
    padding: 2rem 0rem;
}