@media only screen and (min-width: 50.5em) {
    /*  */
    /* Navigation */
    /*  */

    #navigation {
        max-width: 1080px;
    }

    /*  */
    /* Body & Main */
    /*  */

    main {
        max-width: 1080px;
        margin: 0 auto;
    }

    /*  */
    /* Banner */
    /*  */
    .banner a #ad {
        max-width: 1080px;
        justify-self: center;
    }

    /*  */
    /* Fonts and Sizes */
    /*  */
}