@media only screen and (min-width: 50.5em) {

    /*  */
    /* Logo Banner */
    /*  */

    div.logo-banner {
        div.grid-container {
            grid-template-columns: 130px 1fr;
            gap: 2em;
            max-width: 1080px;
            margin: 0 auto;

            h1 {
                grid-column: 2/3;
                grid-row: 1/2;
                font-size: 2.5em;
            }

        }
    }

    /*  */
    /* Navigation */
    /*  */

    #navigation {
        max-width: 1080px;
        font-size: 1em;
    }

    /*  */
    /* Body & Main */
    /*  */

    main {
        max-width: 1080px;
        margin: 0 auto;
    }

    /*  */
    /* Banner */
    /*  */
    .banner a .blue-title {
        max-width: 1080px;
        justify-self: center;
    }

    /*  */
    /* Index */
    /*  */

    #temple-stuff {
        width: 80%;
    }

    #grid-wrapper-info {
        margin: 0 auto;
    }

    /*  */
    /* Temples */
    /*  */
    
    #temples h1 {
        font-size: 2.2em;
    }

    /*  */
    /* Subpages navigation */
    /*  */

    #subpages {
        font-size: 1em;
    }

    /*  */
    /* Fonts and Sizes */
    /*  */
    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 2.2em;
    }

    h3 {
        font-size: 2em;
    }

    h4 {
        font-size: 1.8em;
    }

    h5 {
        font-size: 1.6em;
    }

    h6 {
        font-size: 1.2em;
    }

    p,
    li,
    ul,
    ol,
    section {
        font-size: 1.05em;
    }
}