body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    width: 30em;
    margin: 0 auto;
    background-color: burlywood;
    border: 2px solid rgb(163, 131, 89);
    text-align: center;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5);
}

img {
    max-width: 20em;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

h2 {
    font-size: 2em;
}